<div class="row">
  <div class="FormScroll">
    <h2>Nouveau chapitres</h2>
    <form [formGroup]="chapitresForm"
          (ngSubmit)="onSaveChapitres()">
      <!--Fin de la liste des themes -->
      <mat-form-field appearance="outline">
        <mat-label for="title">
          <mat-icon>title</mat-icon>&nbsp; Chapitres
        </mat-label>
        <input type="text"
               id="name"
               class="form-control"
               formControlName="name"
               matInput
               placeholder="Nouveau chapitre">
      </mat-form-field>
      <!-- (change) désactive 'enregistrer' quand fileisUploading est true-->
      <div class="form-group">
        <!-- <mat-icon>photo_camera</mat-icon>&nbsp; Ajouter une photo <input type="file"
               (change)="detectChapitresFiles($event)"
               class="form-control"
               accept="image/*">
        <p class="text-success"
           *ngIf="fileUploaded">Fichier chargé !</p> -->
        <button mat-button
                id="enregistrer"
                class="btn btn-success"
                [disabled]="chapitresForm.invalid || fileIsUploading"
                type="submit">
          <mat-icon>save_alt</mat-icon>&nbsp; Enregistrer
        </button>
        <button class="annuler"
                mat-button
                (click)="onClose()">Annuler</button>
      </div>
    </form>
  </div>
</div>