.main-container-filters {
  width: 300px;
  padding-left: 32px;
}

.reset-all-filters {
  position: absolute;
  top: 84px;
}

.theme-select {
  width: 244px !important;
}


.theme-icon-list {
  margin-bottom: 14px;
}