.Logo {
  width: 40%;
  height: 40%;
  margin-left: 1%;
}

.mat-card-image:first-child {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.nouveauPostButton {
  margin: auto;
}

.Boutons {
  position: relative;
  top: 60px;
}

#newButton {
  background-color: #B45252;
}

h4 {
  margin: 0 !important;
  margin-left: 4% !important;
  margin-top: 3% !important;
}

.Header {
  background-color: #3B63C4 !important;
  cursor: pointer;
}

.mat-card {
  background-color: #7C9EF2;
}

mat-card {
  margin: 2%;
  padding: 2%;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

mat-form-field-flex {
  background-color: #3B63C4 !important;
}

mat-card.divNewPostCompo {
  background-color: #B45252 !important;
  border: 3px solid black !important;
}

mat-card.divToDoList.mat-card,
.divBlocNotesList,
.divNewPostCompo {
  display: none !important;
}

#todolist.mat-card,
#blocNotesList {
  border: 3px solid black;
  background-color: #7C9EF2 !important;
}


@media (max-width: 900px) {

  mat-card.divToDoList.mat-card {
    display: block !important;
  }

  mat-card.divBlocNotesList.mat-card {
    display: block !important;
  }

  mat-card.divNewPostCompo.mat-card {
    display: block !important;
  }

  mat-card.motcleAutoComplete,
  .titleAutoComplete {
    display: none !important;
  }

  .Boutons {
    position: relative;
    top: 20px;
  }
}