<div class="todoCompo"
     fxLayout="column">
  <mat-card fxLayout="row"
            fxLayoutAlign="space-around center">
    <form class="todoFormulaire"
          [formGroup]="TodoListForm"
          (ngSubmit)="onSaveTodoList()">
      <mat-form-field class="todoFormField"
                      appearance="outline">
        <mat-label for="todo">
          <mat-icon>format_list_bulleted</mat-icon>&nbsp; Encore du travail ?
        </mat-label>
        <textarea type="text"
                  id="todo"
                  class="form-control"
                  formControlName="todo"
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="6"
                  placeholder="Très bien ..."
                  #box
                  (keyup.enter)="onEnter(box.value)"></textarea>
      </mat-form-field>
      <button mat-button
              fxFlex
              class="texteBouton"
              id="newThingsTodo"
              [disabled]="TodoListForm.invalid"
              type="submit"> Au Travail ! </button>
    </form>
  </mat-card>
  <!--Le tableau de la TodoList-->
  <div class="itemsList">
    <div fxLayout="row"
         fxLayoutAlign="center center">
      <h5 fxFlex>Travailler, toujours travailler ...</h5>
    </div>
    <div class="itemsTodo"
         *ngFor="let todo of todoListComputed">
      <div fxLayout="row"
           fxLayoutAlign="end start">
        <button mat-button
                class="effacer"
                (click)="onDeleteTodoItem($event, todo)">
          <mat-icon>close</mat-icon> &nbsp; Effacer
        </button>
        <mat-checkbox [(ngModel)]="todo.done"
                      (change)="todoService.updateTodoList(todo)"
                      class="valider">Fait ! </mat-checkbox>
      </div>{{todo.todo}}
      <!-- <mat-divider class="divider"
                   *ngIf="!last"></mat-divider> -->
    </div>
    <h5 class="jobsDone">Travail terminé !</h5>
    <div class="itemsDone"
         *ngFor="let done of doneListComputed"> {{done.todo}} <div fxLayout="row"
           fxLayoutAlign="end start">
        <button mat-button
                class="effacer"
                (click)="onDeleteDoneItem($event, done)">
          <mat-icon>close</mat-icon> &nbsp; Effacer
        </button></div>
      <!-- <mat-divider class="divider"
                   *ngIf="!last"></mat-divider> -->
    </div>
  </div>