<section>
</section>
<div class="app-container"
     [class.example-is-mobile]="mobileQuery.matches">
    <mat-sidenav-container class="example-sidenav-container"
                [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav-content>
            <mat-toolbar color="primary"
                         class="example-toolbar">
                
                <mat-toolbar-row>
                    <button mat-icon-button
                        (click)="snav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span>Ressource de dev</span>
                    <span class="example-spacer"></span>
                    
                    <button mat-icon-button
                        (click)="snav.toggle()">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-icon-button
                        (click)="snav.toggle()">
                        <mat-icon>power_settings_new</mat-icon>
                    </button>
                    <button mat-icon-button
                        (click)="snav.toggle()">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    
                </mat-toolbar-row>
            </mat-toolbar>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
        <mat-sidenav #snav
                     [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches"
                     fixedTopGap="56">
                     <mat-nav-list dense>
                        <!-- <div mat-subheader>Folders</div> -->
                        <mat-list-item routerLink="#">
                          <mat-icon mat-list-icon>home</mat-icon>
                          <div mat-line>Accueil</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item routerLink="#">
                          <mat-icon mat-list-icon>restore</mat-icon>
                          <div mat-line>Mes derniers cours</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item routerLink="#">
                          <mat-icon mat-list-icon>list</mat-icon>
                          <div mat-line>Matières</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        
                        <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
                            
                            <mat-expansion-panel-header>
                                <div class="mat-list-item-content">
                                    <mat-icon mat-list-icon>edit</mat-icon>
                                    <div mat-line>Outils</div>
                                </div>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <a mat-list-item routerLink="#"><mat-icon>post_add</mat-icon>Bloc note</a>
                                <a mat-list-item routerLink="#"><mat-icon>notes</mat-icon>Todolist</a>
                                <a mat-list-item routerLink="#"><mat-icon>calendar_today</mat-icon>Agenda</a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                        <mat-divider></mat-divider>
                        <mat-list-item routerLink="#">
                          <mat-icon mat-list-icon>archive</mat-icon>
                          <div mat-line>Archives</div>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item routerLink="#">
                          <mat-icon mat-list-icon>home</mat-icon>
                          <div mat-line>Paramètres</div>
                        </mat-list-item>
                      </mat-nav-list>
            <p>Contenu de la sidenav<br> TKT je vais fix son CSS<br> On va la faire full responsive </p>
            <button mat-button
                    *ngIf="isAuth"
                    class="todolist"
                    (click)="openTodoList()">
                <mat-icon>done_outline</mat-icon>&nbsp; To Do List &nbsp;
            </button>
            <button mat-button
                    *ngIf="isAuth"
                    class="blocnoteslist"
                    (click)="openBlocNotesList()">
                <mat-icon> notes</mat-icon>&nbsp; Bloc Notes &nbsp;
            </button>
            <!-- Là on mettra la liste des matières par exemple
                <mat-nav-list>
                <a mat-list-item
                   routerLink="."
                   *ngFor="let nav of fillerNav">{{nav}}</a>
            </mat-nav-list> -->
        </mat-sidenav>
        
    </mat-sidenav-container>
</div>