<div class="listelivre"
     fxLayout="row wrap">
  <h1>Liste des matières</h1>
  <mat-card fxFlex="21%"
            class="clickable"
            (click)="viewCoursOfMatiere(matiere.id)"
            *ngFor="let matiere of matieresComputed">
    <div class="relou">
      <img mat-card-image
           *ngIf="matiere.photo"
           [src]="matiere.photo" />
    </div>
    <div fxLayout="row"
         fxLayoutAlign="space-between center">
      <p> {{ matiere.name }} </p>
      <button class="delete-matiere"
              mat-fab
              color="primary"
              (click)="deleteMatiere(matiere)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card>
  <button class="new-matiere"
          mat-fab
          color="primary"
          (click)="addMatiere(matiere)">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>