<!-- <div class="listelivre"
     fxLayout="row wrap">
  <h1>Liste des matières</h1>
  <mat-card fxFlex="21%"
            class="clickable"
            (click)="onViewMatiere(matiere.id)"
            *ngFor="let matiere of allMatieres">
    <div class="relou">
      <img mat-card-image
           *ngIf="matiere.photo"
           [src]="matiere.photo" />
    </div>
    <mat-card-title> {{ matiere.name }} </mat-card-title>
  </mat-card>
  <button class="new-matiere"
          mat-fab
          color="primary"
          (click)="onNewMatiere()">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div> -->