<div class="listelivre"
     fxLayout="row wrap">
  <h1 style="width:100%">Chapitre</h1><br /><br />
  <form [formGroup]="chapitreForm"
          class="formSingleChapitre"
          (ngSubmit)="onSaveChapitre()">
      <!--Fin de la liste des themes -->
      <mat-form-field class="example-full-width">
        <mat-label>Titre</mat-label>
        <input matInput placeholder="Ex. Chapitre 1">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Contenu</mat-label>
        <input matInput placeholder="Ex. Satan est bien">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Documents</mat-label>
        <input matInput placeholder="Ex. .pdf">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Liens</mat-label>
        <input matInput placeholder="Ex. .com">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Notes</mat-label>
        <input matInput placeholder="Ex. blabla">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Date</mat-label>
        <input matInput readonly placeholder="Ex. 01/01/20">
      </mat-form-field>
      <!-- (change) désactive 'enregistrer' quand fileisUploading est true-->
      <div class="form-group">
        <!-- <mat-icon>photo_camera</mat-icon>&nbsp; Ajouter une photo <input type="file"
               (change)="detectChapitresFiles($event)"
               class="form-control"
               accept="image/*">
        <p class="text-success"
           *ngIf="fileUploaded">Fichier chargé !</p> -->
        <button mat-button
                id="enregistrer"
                class="btn btn-success"
                type="submit">
          <mat-icon>save_alt</mat-icon>&nbsp; Enregistrer
        </button>
      </div>
    </form>
</div>