<div *ngIf="post"
     fxLayout="column"
     fxLayoutAlign="center center"
     class="postContent">
  <div *ngIf="isAuth"
       class="edit-buttons-container">
    <button mat-flat-button
            class="EditPost"
            color="accent"
            (click)="onEditPost(post.id)">
      <mat-icon>edit</mat-icon>&nbsp; Editer le post
    </button>
    <button mat-flat-button
            class="SupprPost"
            color="warn"
            (click)="onDeletePost(post)">
      <mat-icon class="clear">delete</mat-icon> Effacer le post
    </button></div>
  <app-bandeau [post]="post"></app-bandeau>
  <app-post-resume [post]="post"></app-post-resume>
</div>