<div class="blocNotesCompo">
  <form [formGroup]="notesListForm"
        (ngSubmit)="onSaveNotesList()">
    <mat-card class="formBlocNotes">
      <mat-card-content>
        <mat-form-field appearance="outline"
                        class="notesInput">
          <mat-label for="note">
            <mat-icon>highlight</mat-icon>&nbsp; Nouvelle idée ?
          </mat-label>
          <textarea type="text"
                    id="note"
                    class="form-control"
                    formControlName="note"
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="5"
                    placeholder="Une idée !"
                    #box
                    (keyup.enter)="onEnter(box.value)"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="ideaInput"
                        fxLayout="column"
                        fxLayoutAlign="end">
        <button mat-button
                id="newNote"
                color="primary"
                [disabled]="notesListForm.invalid"
                type="submit">
          <mat-icon>save_alt</mat-icon>&nbsp; Celle-là se perdra pas !
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
  <!--Le tableau de la TodoList-->
  <h5>Dernières notes : </h5>
  <div class="blocNotesList"
       fxLayout="row"
       fxLayoutAlign="start center"
       *ngFor="let note of blocnotesService.notes; let first = first; let last = last;">
    <mat-icon fxFlex="24px"
              class="blocNoteIcon">notes</mat-icon>
    <div fxLayout="column"
         fxFlex>
      <div fxLayout="row"
           fxLayoutAlign="start center"
           fxFlex><span class="prettyDate"> {{note.prettyDate}} </span><button mat-button
                class="effacer"
                (click)="onDeleteNote(note)">
          <mat-icon>close</mat-icon> &nbsp; Effacer cette note
        </button></div>
      <markdown [data]="note.note"
                ngPreserveWhitespaces
                class="note"></markdown>
    </div>
    <mat-divider *ngIf="!last"></mat-divider>
  </div>
</div>