@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();



$dark-primary: mat-palette($mat-blue, A200, A100, A400);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-orange, A400, A200, A800);
$primary: mat-color($dark-primary);
$accent: mat-color($dark-accent);
$warn: mat-color($dark-warn);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Define a custom mixin that takes in the current theme


// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-mode {
  @include angular-material-theme($dark-theme);

  .mat-focused,
  .mat-form-field-label {
    color: $accent !important;
  }

  .mat-form-field-underline {
    background-color: $accent !important;
  }

  .mat-form-field-ripple {
    background-color: $accent !important;
  }

  input,
  textarea {
    color: $accent !important;
  }

  .mat-chip {
    background-color: $accent !important;
  }

  .primary {
    color: $primary;
  }

  .accent {
    color: $accent;
  }

  .warn {
    color: $warn;
  }

}