.theme-icon,
.theme-name {
  text-align: center;
}

.theme-icon {
  border-radius: 50% !important;
  width: 64px !important;
  height: 64px;
  font-size: 34px;
  margin-top: 16px;
  padding: 12px;
  cursor: none;
}