.theme-icon,
.theme-name {
  text-align: center;
}

.theme-icon {
  border-radius: 50% !important;
  min-width: 40px !important;
  width: 48px !important;
  height: 48px;
  font-size: 20px !important;
  margin-top: 16px;
  padding: 0px !important;
  cursor: none;
}