<div class="general-container"
     [ngClass]="{'dark-mode': darkMode}">
  <div class="header mat-elevation-z12"
       [ngClass]="{'dark-mode': darkMode}"
       *ngIf="signedMode">
    <div class="headerContainer"
         fxLayout="row"
         fxLayoutAlign="space-between end">
      <div class="toggle-container"
           (click)="darkModeToggle.toggle()">
        <mat-slide-toggle class="dark-mode-toggle"
                          disabled
                          [(ngModel)]="darkMode"
                          #darkModeToggle>
          <label class="dm-label"
                 *ngIf="darkMode"
                 for="darkModeToggle">Dark Mode</label>
          <label class="dm-label"
                 *ngIf="!darkMode"
                 for="darkModeToggle">Light Mode</label>
        </mat-slide-toggle>
      </div>
      <a class="logo-header"
         routerLink="/">
        <img src="../assets/images/logo.jpg">
      </a>
      <div class="connectionButtons"
           fxLayout="row"
           fxLayoutAlign="center end">
        <button mat-button
                *ngIf="isAuth"
                class="todolist"
                (click)="openTodoList()">
          <mat-icon>done_outline</mat-icon>&nbsp; To Do List &nbsp;
        </button>
        <button mat-button
                *ngIf="isAuth"
                class="blocnoteslist"
                (click)="openBlocNotesList()">
          <mat-icon> notes</mat-icon>&nbsp; Bloc Notes &nbsp;
        </button>
        <button mat-button
                routerLink="auth/signin"
                *ngIf="!isAuth">
          <mat-icon>account_box</mat-icon>&nbsp; Connexion
        </button>
        <button mat-button
                (click)="signOut()"
                style="cursor:pointer"
                *ngIf="isAuth">
          <mat-icon>exit_to_app</mat-icon>&nbsp; Déconnexion
        </button>
      </div>
    </div>
    <button class="newPostButton"
            mat-button
            *ngIf="isAuth"
            (click)="openNewPostComponent()">
      <mat-icon>add</mat-icon>Nouveau Post
    </button>
  </div>
  <router-outlet></router-outlet>
</div>