@import '../theme/dark-mode.scss';

:host,
.header,
.headerContainer {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.general-container {
  width: 100%;
  min-height: 100% !important;
  display: block;
  position: relative;
}

.dark-mode {
  background-color: #4b4a4a;
}

.headerContainer {
  padding: 0px 24px;
}

.toggle-container {
  width: 148px;
  height: 32px;
  z-index: 9999;
  margin-bottom: 24px;

  .dark-mode-toggle {
    opacity: 1 !important;
  }

  .dm-label {
    padding-left: 8px
  }
}

div.header.mat-elevation-z12 {
  height: 192px;
  margin-bottom: 32px;
}

.connectionButtons {
  margin-bottom: 24px;
}

.exit {
  background: none !important;
}


mat-icon {
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
}

.icones {
  position: absolute;
  right: 10px;
}

@media (max-width:1100px) {
  .toolbar button mat-icon {
    display: none;
  }
}

@media (max-width:900px) {


  mat-sidenav {
    width: 220px;
    height: 100%;
  }

  mat-toolbar {
    display: none !important
  }

}


.exit {
  background-color: primary !important;

}

.header {
  width: 100%;
  text-align: center;
  // background-color: "primary";
  height: 48px;

  img {
    margin: 32px;
    height: 128px;
    border-radius: 20px;
  }
}

.headerContainer {
  margin-bottom: 32px;
}

// ::ng-deep .dark-theme * {
//   color: white !important;
//   background-color: #444444 !important;
// }$

::ng-deep .toggle-container:hover .mat-slide-toggle-thumb {
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, .2), 0 4px 8px 0 rgba(0, 0, 0, .14), 0 8px 8px 0 rgba(0, 0, 0, .12) !important;
  transition: .8s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.pages-container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
}