#newThingsTodo {
  position: relative;
}

.todoCompo {
  height: 500px;
  width: 1100px;
}

.todoCompo>mat-grid-list {
  height: 50%;
}

.itemsTodo,
.todoFormulaire {
  width: 100%;
}

.grid-title {
  margin: 0px !important;
}

.mat-form-field-infix,
textarea#todo.form-control.mat-input-element {
  width: 500px !important;
}

.effacer {
  color: red !important;
  margin-left: 4% !important;
}

h5 {
  padding-left: 32px;
  font-size: 18px;
}

.content {
  max-width: 300px;
  width: 300px;
}

.items-list {
  width: 500px;
  height: 48px;
}

::ng-deep .items-list {
  height: auto !important;

  .mat-list-item-content {
    align-items: start !important;
  }
}

.divider {
  margin-top: 24px;
  margin-bottom: 24px;
  border-bottom: 2px solid inherit;
}

.mat-list-todo {
  height: 82%;
  overflow-y: scroll;
}

.container-todo {
  width: 100%;
  height: 75%;
}

mat-checkbox.valider {
  position: relative;
  top: 5px;
}

::ng-deep .todo-textarea {
  min-width: 700px !important;
  width: 700px !important;
}