<!-- <div class="confirmation-container">
  <h3 class="mat-title"> {{data.title || default.title}} </h3>
  <div flex
       fxLayout="row"
       fxLayoutAlign="center end"
       fxLayoutGap="100px"
       class="buttons">
    <a mat-button
       class="cancel-button"
       (click)="closeDialogDelete('cancel')"
       color="warn">
      <mat-icon>highlight_off</mat-icon>{{data.cancel || default.cancel}}
    </a>
    <a mat-button
       class="confirm-button"
       (click)="closeDialogDelete('ok')"
       color="accent">
      <mat-icon>check_circle_outline</mat-icon>{{data.confirm || default.confirm}}
    </a>
  </div> -->