.note {
  min-width: 300px;
}

.blocNotesCompo {
  height: 100%;
  width: 100%;
}

.prettyDate {
  font-weight: bold;
}

.container-notes {
  height: 65%;
  width: inherit !important;
}

.item-content {
  width: inherit !important;
}

.notes {
  font-size: 20px;
  margin-right: 16px !important;
}

h5 {
  font-size: 18px;
}

// .notesInput {
//   width: 100%;
// }

// .blocNoteIcon {
//   position: relative;
//   top: 4px;
//   left: 4px;
//   margin-right: 16px;
// }

.notes-form-field {
  width: 100% !important;
}

.nav-list {
  position: relative;
}

.bloc-notes-list {
  width: 500px;
  height: 48px;
}

.note-content {
  width: 100% !important;
}

.drop-handler {
  margin-top: 8px;
}

.note-date {
  width: 165px;
}