<div class="theme-form-container">
  <!--Le tableau de la TodoList-->
  <div class="container-themes">
    <h5>Liste des themes</h5>
    <mat-grid-list class="theme-grid-form"
                   cols="3"
                   gutterSize="24px"
                   rowHeight="100px">
      <mat-grid-tile *ngFor="let theme of allThemes"
                     class="theme-grid-tile hover-bs"
                     (click)="selectTheme(theme.name)">
        <app-theme [theme]="theme"></app-theme>
        <!-- <button mat-button
                class="delete-theme"
                (click)="onDeleteNote(note)">
          <mat-icon>close</mat-icon> &nbsp; Effacer cette note
        </button> -->
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <form [formGroup]="themesListForm"
        (ngSubmit)="saveThemesList()"
        fxLayout="column"
        fxLayoutAlign="center center">
    <mat-card class="formBlocThemes"
              fxLayout="row"
              fxLayout="center center">
      <mat-card-content>
        <mat-form-field appearance="outline"
                        class="new-theme-input">
          <mat-label>Outline form field</mat-label>
          <input matInput
                 formControlName="name"
                 (ngModel)="theme.name"
                 placeholder="Entrez un nouveau Theme">
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="new-theme"
                        fxLayout="column"
                        fxLayoutAlign="end">
        <button mat-button
                id="newTheme"
                color="primary"
                type="submit">
          <mat-icon>add</mat-icon>&nbsp; Nouveau theme
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>