<!-- <div class="mainContainer"
     fxLayout="row"
     fxLayoutAlign="center start">
  <div fxFlex></div>
  <div fxFlex="1200px"
       fxLayout="column"
       class="posts-container"
       fxLayoutGap="64px">
    <app-post-card [post]="firstPost">
      <a mat-flat-button
         color="accent"
         class="more"
         routerLink="/posts/view">Lire plus...</a>
    </app-post-card>
    <div fxLayout="row"
         fxLayoutGap="64px">
      <app-post-card fxFlex="50%"
                     [post]="secondPost"
                     elevation="4"></app-post-card>
      <app-post-card fxFlex="50%"
                     [post]="thirdPost"
                     elevation="4"></app-post-card>
    </div>
    <div *ngFor="let post of otherPosts">
      <app-bandeau [post]="post"
                   showMore="true"></app-bandeau>
      <app-post-resume [post]="post"></app-post-resume>
    </div>
    <div *ngIf="noResult">No result</div>
  </div>
  <app-filters fxFlex
               class="postFilters"
               [post]="post"></app-filters>
</div> -->
<!-- Ensuite la liste de tous les autres posts-->
<!--  <mat-card class="cartePost"
            fxFlex="48%"
            *ngFor="let post of postsComputed"
            (click)="onViewPost(post.id)">
    <mat-card class="imageContainer">
      <img mat-card-image
           *ngIf="post.photo"
           [src]="post.photo" /></mat-card>
    <mat-card-title class="contenuPost">{{post.titre}}</mat-card-title>
    <mat-card-subtitle class="contenuPost"> {{post.theme}} </mat-card-subtitle>
    <mat-chip-list id="chips"
                   class="contenuPost">
      <mat-chip> {{post.keyWords}}</mat-chip>
    </mat-chip-list>
    <mat-card-content class="contenuPost"
                      id="carteLiens"> {{post.lien}} </mat-card-content>
    <mat-card-content class="contenuPost"> {{post.contenu}} </mat-card-content>
    <mat-card-content id="carteLiens"
                      class="contenuPost">{{post.stackBlitz}}</mat-card-content>
    <mat-card class="notesPost"> {{post.notes}} </mat-card>
  </mat-card> -->
<h1>Ressources de Développement</h1>