.post-card {
  padding: 0;
  overflow: hidden;
}

.bandeau {
  position: relative;
  height: 300px;
  overflow: hidden;

  .bandeau-image {
    position: absolute;
    opacity: 0.5;
    transition: opacity 400ms ease-in-out;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:hover {
    .bandeau-image {
      opacity: 1;
    }
  }

  .bandeau-content {
    z-index: 1;
    text-align: center;
  }

  .more {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}

// mat-chip-list.chipListPost {

  //   mat-chip.chipsPost.mat-chip {
  //     padding-right: 8px;
  //     padding-right: 8px;
  //     color: white;
  //   }
  // }